ip-10-230-132-87.us-west-2.compute.internal
ip-10-230-0-132.us-west-2.compute.internal
ip-10-230-3-227.us-west-2.compute.internal
ip-10-227-22-69.us-west-2.compute.internal
ip-10-231-26-12.us-west-2.compute.internal
ip-10-230-5-35.us-west-2.compute.internal
ip-10-230-5-197.us-west-2.compute.internal
